/* BOTONES !*/
.botonActual {
    text-decoration: none;
    background-color: $color-fuentes-oscuro;
    border: 2px solid $color-fondo-oscuro;
    color: $color-fondo-oscuro;
    padding: 3px;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 2rem;
    margin: 0.5rem;
}

.boton {
    text-decoration: none;
    color: $color-fondo-claro;
    background-color: $color-fondo-oscuro;
    border: 2px solid $color-fondo-claro;
    padding: 3px;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 0.5rem;


    &:hover {
        border: 2px solid $color-fondo-oscuro;
        background-color: $color-fondo-claro;
        color: $color-fondo-oscuro;
    }
}

.form-control {
    background-color: $color-fondo-claro;
    border: 2px solid $color-fuentes-claro;
}

.botonLeer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    background-color: $color-fuentes-oscuro;
    color: $color-fuentes-claro;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.siguienteHero {
    position: relative;
}

//Esto no me estaria funcionando
/*  
.btnDarkEstilo {
    text-decoration: none;
    color: $color-fondo-oscuro; 
    background-color: $color-fuentes-claro;
    border: 2px solid $color-fondo-claro;
}

.btnDarkEstilo:hover {
    border: 2px solid $color-fondo-oscuro; 
    background-color: $color-fondo-claro; 
    color: $color-fondo-oscuro; 
}
*/