/* BOTONES !*/
.botonActual {
    text-decoration: none;
    background-color: $color-fondo-claro;
    border: 2px solid $color-fondo-oscuro;
    color: $color-fondo-oscuro;
    padding: 3px;
    border-radius: 1rem;
    font-weight: 600;
    font-size: 2rem;
    margin: 0.5rem;
}

.boton {
    text-decoration: none;
    color: $color-fondo-claro;
    background-color: $color-fondo-oscuro;
    padding: 3px;
    border-radius: 1rem;
    font-size: 2rem;
    margin: 0.5rem;


    &:hover {
        border: 2px solid $color-fondo-oscuro;
        background-color: $color-fondo-claro;
        color: $color-fondo-oscuro;
    }
}

.botonDark {
    margin-top: 0.7rem; /* margen al h1 de cada pagina */
}

.botonDarkEstilo {
    text-decoration: none;
    color: $color-fondo-claro;
    background-color: $color-negro;
    border: 2px solid $color-fondo-claro;

    &:hover {
        border: 2px solid $color-negro;
        background-color: $color-fondo-claro;
        color: $color-fuentes-claro;
    }
}



.form-control {
    background-color: $color-fondo-claro;
    border: 2px solid $color-fuentes-claro;
}

.botonLeer {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    background-color: $color-fuentes-claro;
    color: $color-fondo-claro;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $color-fondo-claro;
        color: $color-fuentes-claro;
        border: 2px solid $color-fuentes-claro;
    }
}

.siguienteHero {
    position: relative;
}