.containerTienda {
    max-width: auto;
    margin: 0 auto;
    padding-inline: 1.5rem;
}
/*TARJETAS DE LA TIENDA */

.contenedorTienda {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}

.tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.7rem;
    background-color: $color-tarjetas-claro;
    margin-left: 1rem;
    margin-top: 2rem;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bricolage Grotesque", sans-serif;
}
.producto {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.header {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding-block: 1rem;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrito-header {
    font-size: 2rem;
    color: var(--clr-white);
    text-decoration: none;
}

.mainTienda {
    padding-block: 2rem;
}

.titulo {
    margin-bottom: 1rem;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.1rem;
    margin-bottom: 1.5rem;
}

.producto {
    margin-top: .1rem;
    background-color:$color-tarjetas-claro;
    padding: .5rem .2rem;
    border-radius: 1rem;
    color: $color-fuentes-claro;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    justify-content: end;
    align-items: center;
}

.producto-img {
    border-radius: .75rem;
    width: auto;
    height: 5rem;
}

.producto-btn {
    text-decoration: none;
    color: $color-fuentes-claro;
    background-color: $color-fuentes-oscuro;
    border: 2px solid $color-fuentes-oscuro;
    padding: 1px;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin: 0.5rem;

    &:hover {
        border: 2px solid $color-fuentes-claro;
        color: $color-fuentes-claro;
        letter-spacing: 0.5px;
    }
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.carrito-producto {
    display: flex;
    align-items: center;
    background-color: $color-fuentes-oscuro;
    border-radius: 1rem;
}

.carrito-producto-btn {
    background-color: $color-tarjetas-claro;
    padding: 0.5rem;
    border: 1px solid $color-fuentes-claro;
    border-radius: .25rem;
    cursor: pointer;

}
#finalizarCompra {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    border-radius: .5rem;
    text-decoration: none;

    &:hover {
        border: 2px solid $color-fuentes-claro;
        color: $color-fuentes-claro;
        letter-spacing: 2px;
    }
}


.d-none {
    display: none;
}

.footer {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding-block: 2rem;
}

.no-hay-productos {
    color: red;
}

/*
#formulario-compra {
    margin-top: 20px;
    margin-bottom: 20px;
}

#formulario-compra .campo-formulario {
    margin-bottom: 15px;
}

#formulario-compra label {
    display: block;
}/* Para que cada etiqueta se muestre en una línea separada */

/*
#formulario-compra .campo-formulario {
    display: flex;
    flex-direction: column;
}

#formulario-compra button {
    background-color: $color-tarjetas-claro;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario-compra button:hover {
    background-color: darken($color-tarjetas-claro, 10%);
}

#formulario-compra .campo-error {
    border: 1px solid red;
}// Cambia el borde del campo a rojo en caso de error 

*/