// Variables para el modo claro
$color-fondo-claro: #fefefe; 
$color-fuentes-claro: #241670; 
$color-tarjetas-claro: #6d9afad3;
$color-botones-claro: #43036896;
$color-botones-tienda-claro: #0c0455;

// Variables para el modo oscuro
$color-fondo-oscuro: #241670; 
$color-fuentes-oscuro: #d8d8da5b; 
$color-tarjetas-oscuro: #f72702bd; 
$color-botones-oscuro: #9a00f3; 
$color-botones-tienda-oscuro: #6353ee8a;
